<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/base/js/libs/bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ asset('assets/home/cartegrise.css') }}">
    <title></title>
  </head>
  <body class="">
    <!---voici le new header-------------------------->
      <header class="new_head">
              <nav class="navbar navbar-expand-lg navbar-light mx-auto bg-white px-3 py-0">
                  <a class="navbar-brand" href=""> <img src="{{ asset('assets/home/images/eirl.png') }}" class="img-fluid" width="120" height="120" alt=""></a>
                  <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav mx-auto">
                          <li class="nav-item mx-1 dropdown">
                              <!--<a class="nav-link dropdown-toggle cartegrise active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Carte grise <span class="sr-only">(current)</span>
                              </a>-->
                              <a class="nav-link" href="{{ path('cartegrise') }}">Carte grise</a>
                              <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#"></a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                              </div>-->
                              <div class="selection px-2 pt-1 bg-white border mt-3" style="width:500px!important;">
                                  <p class="text-justify font-weight-normal border-bottom g_titre py-2">Démarches</p>
                                  <ul class="p-0 mt-3">
                                    <li class="selection_liste font-weight-light py-2">Première immatriculation en France d'un véhicule</li>
                                    <li class="selection_liste font-weight-light py-2">Immatriculation d'un véhicule d'occasion (changement de titulaire du certificat)</li>
                                    <li class="selection_liste font-weight-light py-2">Duplicata - véhicule SIV (immatriculation type "AB-123-CD")</li>
                                    <li class="selection_liste font-weight-light py-2">Duplicata - véhicule FNI (ancienne immatriculation de type "1234 AB 01")</li>
                                    <li class="selection_liste font-weight-light py-2">Changement d'adresse</li>
                                    <li class="selection_liste font-weight-light py-2">Changement d'état matrimonial (mariage,divorce,veuvage)</li>
                                    <li class="selection_liste font-weight-light py-2">Correction d'erreur de saisie sur le certificat du fait de l'administration</li>
                                    <li class="selection_liste font-weight-light py-2">Usurpation du numéro d'immatriculation du véhicule</li>

                                  </ul>
                              </div>
                          </li>
                          <li class="nav-item mx-1">
                              <a class="nav-link" href="#">Certificat de session</a>
                          </li>
                          <!--<li class="nav-item">
                              <a class="nav-link" href="#">Plaque d'immatriculation</a>
                          </li>-->
                          <li class="nav-item mx-1">
                              <a class="nav-link contact" href="{{ path('contact') }}">Contact</a>
                          </li>
                          <li class="nav-item mx-1">
                              <a class="nav-link" href="#">Notre mission</a>
                          </li>
                          <li class="nav-item mx-1">
                              <a class="nav-link" href="#">Plaque d'immatriculation</a>
                          </li>
                          <li class="nav-item mx-1">
                              <a class="nav-link connexion" href="{{ path('connexion') }}"><span>Connexion</span><i class=""></i></a>
                          </li>
                      </ul>
                  </div>
              </nav>
      </header>
      <!--Voici la partie backheader en 2 coté----------------------------------------------->

      <div class="container-fluid boite_connect mb-4 px-5 pt-4">
            <form class="form-horizontal mx-auto" action="index.html" method="post">
                <div class="form-group interne mx-auto py-3">
                    <img src="{{ asset('assets/home/images/blank-profile-picture.png')}}" class="profil mx-auto d-block img-fluid" alt="">
                    <div class="form-group px-3">
                        <p class="h4 text-justify text-center mt-5 mb-3">Veuillez indiquer votre adresse email pour vous connecter</p>
                        <p class="font-weight-light text-justify text-center">Si vous ne possédez pas de compte, vous allez également accéder à votre espace afin d'effectuer votre 1ère commande.</p>
                        <input type="text" class="form-control" style="height:60px;" placeholder="Adresse email" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="form-group mt-4 text-center">
                        <button type="submit" class="btn px-5 py-4" style="border-radius:35px;background-color:#990000;opacity:0.9;">Se connecter  <i class="fad fa-user-alt"></i></button>
                    </div>
                </div>
            </form>
      </div>
      <script type="text/javascript" src="{{ asset('assets/base/js/libs/jquery-3.4.1.js')}}"></script>
      <script type="text/javascript" src="{{ asset('assets/base/js/libs/bootstrap/js/bootstrap.min.js')}}"></script>
      <!-------la partie footer sahady------------------------------------------------------>
  </body>
</html>
