<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Test">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">

    <link rel='stylesheet' type='text/css' href="{{ asset('assets/base/js/libs/bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <style>
        .head{height:670px;margin-top:105px}.arondi{border-radius:20px}.bas{margin-top:510px;opacity:.9}.fond_head{-webkit-background-size:cover;background-repeat:no-repeat;background-size:cover;background-position:center center}.opaque{opacity:.5}.img_debut{height:180px;max-width:180px;position:absolute;margin-top:-60px;left:0;right:0;margin-left:auto;margin-right:auto;z-index:1;-webkit-background-size:cover;background-repeat:no-repeat;background-size:80%;background-position:center;border-radius:50%}.ombrage{box-shadow:2px 2px 5px #999}.w_bouton{width:200px}.img_nombre{height:110px;width:110px;margin-top:-50px;background-color:#fff}.espacement{margin-left:10%;margin-right:10%}.haut{padding-top:150px}.attribut{position:absolute;z-index:0}.bord_arrondi{border-radius:50px}.card_fond{background-color:#900;opacity:.8}.logo_cards{width:40px;height:40px;margin-bottom:10px}.mini_boite{width:40px;height:35px}.taille{max-height:auto!important;padding-top:20px;padding-bottom:20px}.icon_reseau{max-width:30px;max-height:30px;margin-left:20px;margin-right:20px}.foot_p{margin-left:80px;margin-right:80px}.logo_princ_ngeza{height:220px;width:400px;background-image:url(eirl.png);-webkit-background-size:contain;background-repeat:no-repeat;background-size:95%;background-position:center}.img_princ{-webkit-background-size:cover;background-repeat:no-repeat;background-size:cover;background-position:center center;height:2000px;width:100%;position:absolute;top:0;filter:blur(10px);z-index:-1}.couleur{background-color:#900;opacity:.9}.img_pied{background-image:url({{ asset('assets/base/images/footer.png') }});-webkit-background-size:cover;background-repeat:no-repeat;background-size:cover;background-position:center;max-width:100%}.espace{margin-top:20%}.capture{margin-left:8%;margin-right:8%}.ligne{list-style:none;max-width:auto}li.nav-item:hover{opacity:0;color:#fff}a.nav-link:hover{color:#fff}@media only screen and (max-width:1120px){div.card_fond{padding-left:1rem!important;padding-right:1rem!important}div.card.espacement{margin-left:2%;margin-right:2%}div.marge{margin-left:0!important;margin-right:0!important}div.row.capture{margin-left:1rem;margin-right:1rem}}@media only screen and (max-width:1300px){div.card_fond{padding-left:1.5rem!important;padding-right:1.5rem!important}div.card.espacement{margin-left:4%;margin-right:4%}@media only screen and (max-width:880px){div.espace{margin-top:570px}div.marge{margin-left:.5rem!important;margin-right:.5rem!important}div.card_fond{padding-left:0!important;padding-right:0!important}div.card.espacement{margin-left:2%;margin-right:2%}}@media only screen and (max-width:768px){div.espace{margin-top:570px}div.marge{margin-left:1.5rem!important;margin-right:1.5rem!important}div.card_fond{padding-left:.5rem!important;padding-right:.5rem!important}div.card.espacement{margin-left:2%;margin-right:2%}.card-title{margin-bottom:1rem!important}}@media only screen and (max-width:653px){div.espace{margin-top:770px}div.marge{margin-left:.5rem!important;margin-right:.5rem!important}}@media only screen and (max-width:360px){div.card_fond{padding-left:1rem!important;padding-right:1rem!important}div.card.espacement{margin-left:2%;margin-right:2%}div.marge{margin-left:0!important;margin-right:0!important}div.row.capture{margin-left:1rem;margin-right:1rem}.social_icon{padding-left:.5rem!important;padding-right:.5rem!important}div.espace{margin-top:770px;margin-left:0!important;margin-right:0!important;padding-left:0!important;padding-right:0!important}}@media only screen and (max-width:290px){div.card_fond{padding-left:.5rem!important;padding-right:.5rem!important}div.espace{margin-top:770px;margin-left:0!important;margin-right:0!important;padding-left:0!important;padding-right:0!important}div.social_icon .icon_reseau{margin-left:7px!important;margin-right:7px!important}}}
    </style>
    <title>EIRL</title>
</head>

<body class="bg-light">
    <header class="col-lg-12 col-md-12 px-0 fond_head img-fluid head" style="background-image: url("{{ asset('assets/base/images/handshake.jpg') }}");">
        <div class="mx-auto text-center img_debut bg-white p-4" style="background-image:url({{ asset('assets/base/images/handshake.jpg') }});"></div>
        <div class="bg-dark opaque h-25 w-100 attribut ">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark haut" >
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto pt-1">
                        <li class="nav-item active mx-2">
                            <a class="nav-link text-light" href="#">Acceuil<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-light" href="#">Carte grise</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-light" href="#">Certificat de session</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-light" href="#">Plaque d'immatriculation</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-light" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="d-flex h-100 flex-column">
            <a href="#" class="btn btn-warning mx-auto py-3 px-2 mb-3 bg-white arondi text-danger font-weight-normal bas">Partenaire Professionnel</a>
            <a href="#" class="btn btn-warning mx-auto py-3 px-5 font-weight-normal text-light arondi couleur">Commander</a>
        </div>
    </header>
    <!--VOICI LA ZONE D'EN TETE---------------------------------------------->
    <!--VOICI LA 1ERE PARTIE---------------------------------------------->
    <div class="col-lg-12 col-md-12 bg-white" style="height:auto">
        <p class="h1 text-danger mt-5 text-center">Faites votre carte grise et vos plaques en 2min</p>
        <p class="font-weight-normal lead text-center pt-3 text-justify">
            Plateforme d'immatriculation depuis 2009.<br>
            Nous avons reçu une double habilitation de l'Etat pour vous proposer un service<br>
            d'immatriculation
        </p>
        <div class="d-flex flex-row">
            <a href="#" class="btn btn-warning mx-auto mt-4 py-3 px-3 font-weight-normal text-light arondi couleur" type="button" name="button">Commander la carte grise</a>
        </div>
        <div class="container py-5">
            <div class="row pt-3">
                <div class="col-md-3 d-flex flex-column py-2">
                    <div class="">
                        <i class="fas fa-hand-holding-usd fa-3x mx-auto d-block logo_cards"></i>
                    </div>
                    <div class="py-1">
                        <h6 class="text-center">Calculez le prix</h6>
                    </div>
                    <div class="">
                        <h6 class="text-center font-italic"><small>Inscrivez votre numero <br>
                            d'immatriculation afin de calculer <br>
                            le prix de votre carte grise en <br>
                            quelques seconde
                        </small></h6>
                    </div>
                </div>
                <div class="col-md-3 py-2">
                    <div class="">
                        <i class="fab fa-wpforms fa-3x mx-auto d-block logo_cards"></i>
                    </div>
                    <div class="py-1">
                        <h6 class="text-center">Validez vos formulaires</h6>
                    </div>
                    <div class="">
                        <h6 class="text-center font-italic"><small>Nous vous offrons la possibilité de <br>
                            créer gratuitement vos documents <br>
                            cerfa préremplis en quelques clics <br>

                        </small></h6>
                    </div>
                </div>
                <div class="col-md-3 py-2">
                    <div class="">
                        <i class="fas fa-car fa-3x mx-auto d-block logo_cards"></i>
                    </div>
                    <div class="py-1">
                        <h6 class="text-center">Roulez immédiatement</h6>
                    </div>
                    <div class="">
                        <h6 class="text-center font-italic"><small>La carte grise originale est envoyée <br>
                            en courrier recommandée par <br>
                            l'imprimerie Nationale sous 2 à 4 <br>
                            jours
                        </small></h6>
                    </div>
                </div>
                <div class="col-md-3 py-2">
                    <div class="">
                        <i class="fas fa-home fa-3x mx-auto d-block logo_cards"></i>
                    </div>
                    <div class="py-1">
                        <h6 class="text-center">La commande chez vous</h6>
                    </div>
                    <div class="">
                        <h6 class="text-center font-italic"><small>Inscrivez votre numero <br>
                            d'immatriculation afin de calculer <br>
                            le prix de votre carte grise en <br>
                            quelques seconde
                        </small></h6>
                    </div>
                </div>
            </div>
        </div>
        <!--VOICI LA partie cards---------------------------------------------->
        <div class="mt-5">
            <p class="h1 text-danger text-center">Votre carte grise chez EIRL</p>
            <p class="font-weight-normal lead text-center pt-3 text-justify">
                Le service en ligne d'immatriculation le plus simple
            </p>
        </div>
        <!--VOICI LA partie screen---------------------------------------------->
        <div class="row mt-5 capture">
            <div class="col-md-12 bg-dark d-flex py-3 px-4 rounded-top">
                <div class="bg-danger mini_boite rounded-circle mr-3"></div>
                <div class="bg-primary mini_boite rounded-circle mr-3"></div>
                <div class="bg-warning mini_boite rounded-circle mr-3"></div>
                <div class="bg-white w-100"></div>
            </div>
            <div class="col-md-12 bg-secondary px-0 bg-success" style="height:650px;">
                <img src="{{ asset('assets/base/images/screen_farany.png') }}" class="mx-auto d-block img_fluid w-100 h-100" alt="SCREEN_ngeza">
            </div>
        </div>
    </div>
</div>
</div>

<!--VOICI LA partie rouge cards---------------------------------------------->
<div class="bg-white py-5 border-top-5" style="padding-left: 5%; padding-right:5%;">
    <div class="container-fluid bord_arrondi pt-5 px-5 mt-5 d-flex flex-column card_fond">
        <p class="h1 text-white text-center mb-5 mt-4">Un Service recommandé par nos clients</p>
        <!--<div class="container px-4">-->
            <div class="row mt-5 px-0 mx-4 marge">
                <div class="col-md-4 py-2 px-0">
                    <div class="card bord_arrondi h-100 px-0 espacement">
                        <img src="{{ asset('assets/base/images/onee.png') }}" class="card-img-top img-fluid img_nombre mx-auto d-block ombrage rounded-circle mb-0" alt="image_1">
                        <div class="card-body pb-4 px-0">
                            <p class="card-title text-center mt-4 mb-4 h5">Pourquoi faire ses<br> plaques avec EIRL ?</p>
                            <p class="card-text text-center font-italic pb-5 pt-1 mb-2">Leader de la plaque d'immatriculation
                                sur Internet, nous vous proposons<br>
                                toutes les plaques d'immatriculation<br>
                                homologuées pour tous les véhicules</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-0 py-2">
                        <div class="card bord_arrondi h-100 px-1 espacement">
                            <img src="{{ asset('assets/base/images/two.png') }}" class="card-img-top img-fluid img_nombre mx-auto d-block ombrage rounded-circle mb-0" alt="image_1">
                            <div class="card-body pb-4 px-0">

                                <p class="card-title text-center mt-4 mb-5 h5">Made in france</p>

                                <p class="card-text text-center font-italic pt-1 mb-2">Toutes nos plaques d'immatriculation <br>
                                    sont fabriquées en France. <br>Nos plaques sont fabriquées grâce aux dernières technologies dans des <br>matériaux haut de gamme
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 py-2 px-0">
                            <div class="card bord_arrondi h-100 px-1 espacement">
                                <img src="{{ asset('assets/base/images/three.png') }}" class="card-img-top img-fluid img_nombre mx-auto d-block ombrage rounded-circle mb-0" alt="image_1">
                                <div class="card-body pb-4 px-0">

                                    <p class="card-title text-center mt-4 mb-5 h5">Tous les véhicules</p>

                                    <p class="card-text text-center font-italic pt-1 mb-2">Nous vous proposons un large choix <br>
                                        de plaques pour tous vos véhicules :<br> plaques auto, moto, cyclo, 4*4 etc. <br>(520*110, 210*130, ainsi que tous<br>
                                        les autresformats homologués). <br>Plaques en alu ou plexi (simple ou en <br>relief), à vous de choisir .<br>Sur les plaques
                                        en plexiglas, possibilité <br>d'ajouté un petit message <br>personnalisé en dessous du numéro <br>d'immatriculation </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--</div>-->
                        <div class="pt-5 pb-3">
                            <p class="h1 pt-5 text-white text-center">Faites votre carte grise et votre plaque en 2min</p>
                            <div class="d-flex flex-column pt-4">
                                <a href="#" class="btn btn-outline-light mx-auto py-3 px-5 mb-4 arondi text-white " type="button" name="button">Commander plaque</a>
                                <a href="#" class="btn mx-auto py-3 px-3 mt-2 bg-danger arondi bg-white text-danger " type="button" name="button">Commander votre carte grise</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--VOICI LA PARTIE FOOTER---------------------------------------------->
                <footer class="container-fluid py-3 img_pied">
                    <div class="row mt-5">
                        <div class="col-md-12 mb-5 mt-3">
                            <div class="mx-auto d-block img-fluid bg-white logo_princ_ngeza"></div>
                            <div class="d-flex text-center mx-auto mb-5 justify-content-end px-2 py-4 social_icon" style="max-width:400px;">
                                <a href="#"><i class="fab fa-facebook-square fa-2x icon_reseau img-fluid"></i></a>
                                <a href="#"><i class="fab fa-instagram fa-2x icon_reseau img-fluid"></i></a>
                                <a href="#"><i class="fab fa-twitter fa-2x icon_reseau img-fluid"></i></a>
                                <a href="#"><i class="fab fa-youtube fa-2x icon_reseau img-fluid"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-1 mx-5 px-5 espace">
                        <div class="col-md-4 px-0 py-0">
                            <ul>
                                <li class=" text-justify text-center text-light font-weight-light ligne">Carte grise</li>
                                <li class=" text-justify text-center text-light font-weight-light ligne">Certificat de session</li>
                                <li class=" text-justify text-center text-light font-weight-light ligne">Changement d'adresse</li>
                            </ul>
                        </div>
                        <div class="col-md-4 px-0 py-0">
                            <ul>
                                <li class=" text-justify text-center text-light font-weight-light ligne">Changement de titulaire</li>
                                <li class=" text-justify text-center text-light font-weight-light ligne">Demande de duplicata</li>
                                <li class=" text-justify text-center text-light font-weight-light ligne">Plaque d'immatriculation</li>
                            </ul>
                        </div>
                        <div class="col-md-4 px-0 py-0">
                            <ul>
                                <li class=" text-justify text-center text-light font-weight-light ligne">7744 North Park Place</li>
                                <li class=" text-justify text-center text-light font-weight-light ligne">an Francisco, CA 714258</li>
                                <li class=" text-justify text-center text-light font-weight-light ligne">support@canyonthemes.com</li>
                                <li class=" text-justify text-center text-light font-weight-light ligne">777-444-2222</li>
                            </ul>
                        </div>
                    </div>

                    <p class="text-center text-light font-weight-light mt-5 p-5 ">Website produced and hosted by <strong class="text-light">Good-ID Communication</strong></p>
                </footer>
                <!------------------------------------------------>


                <script type="text/javascript" src="{{ asset('assets/base/js/libs/jquery-3.4.1.js') }}"></script>
                <script type="text/javascript" src="{{ asset('assets/base/js/libs/bootstrap/js/bootstrap.min.js') }}"></script>
            </body>
            </html>
            <!--VOICI LA 1ERE PARTIE


                ---------------------------------------------->
